<div class="row">

    <div class="col-md-4">
        <img src="https://docs.google.com/spreadsheets/d/1ae09oaQRlJMyZBhQrBwurDoqw9Cb3LVi3xMV3kT6i3Y/pubchart?oid=919108536&format=image" width="100%" />
    </div>
    <div class="col-md-4" style="background-color: red;">lala</div>
    <div class="col-md-4" style="background-color: aqua;">lala</div>
    <div class="col-md-4" style="background-color: blue;">lala</div>
    <div class="col-md-4" style="background-color: coral;">lala</div>
    <div class="col-md-4" style="background-color: darkgreen;">lala</div>

</div>