@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="60">

    <title>ProjStats</title>

    <style>
        html, body {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        body {
            background-color: black;
        }

        img {
            -webkit-filter: invert(100%);
            filter: invert(100%);
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            overflow: auto;
            width: 100%;
        }

    </style>
</head>
<body>

    <img src="https://docs.google.com/spreadsheets/d/1ae09oaQRlJMyZBhQrBwurDoqw9Cb3LVi3xMV3kT6i3Y/pubchart?oid=1813347207&format=image"  />

</body>
</html>