<div class="row">

@*    <div class="col-md-4">*@
@*        <img src="https://docs.google.com/spreadsheets/d/1ae09oaQRlJMyZBhQrBwurDoqw9Cb3LVi3xMV3kT6i3Y/pubchart?oid=919108536&format=image" width="100%"/>*@
@*    </div>*@

    <div class="col-md-12 text-center">
        <table width="100%" height="100%">
            <tr>
                <td style="width: 50%;">
                    <img src="https://docs.google.com/spreadsheets/d/1c1GUMtLWJ6hPVN0LzMDYp13aUNZmXCm_ZL_Qd5oT4PI/pubchart?oid=74348526&format=image" style="width: 100%;" />
                </td>
                <td style="width: 50%;">
                    <img src="https://docs.google.com/spreadsheets/d/1c1GUMtLWJ6hPVN0LzMDYp13aUNZmXCm_ZL_Qd5oT4PI/pubchart?oid=817085918&format=image" style="width: 100%;" />
                </td>
            </tr>
        </table>
    </div>



</div>